@model Hotel

<div>
    <form asp-controller="Hotel" asp-action="Update">
        <lable><input type="hidden" name="id" value="@Model.Id"/></lable>
        <label><input asp-for="Name" type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" required></label>
        <label><input asp-for="Summary" type="text" class="form-control" placeholder="Summary" aria-label="Username" aria-describedby="basic-addon1" required></label>
        <label><input asp-for="Address" type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1" required></label>
        <label><input asp-for="Facilities" type="text" class="form-control" placeholder="Facilities" aria-label="Username" aria-describedby="basic-addon1" required></label>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

@section Scripts{
    <partial name="_Scripts" />
}
